body{
    font-family: 'Inter', sans-serif;
}
header{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.i1{
    margin-left: 478px;
    
}
a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
a:hover{
    background-color: rgba(107, 104, 255, 0.473);
}
.d1{
    display: flex;
justify-content: space-around;
background-color: #D84242;
margin-top: 20px;
padding: 20px;
}
p{
    margin-top: 151px;
    font-size: 23px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}